.container {
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 25rem;
  padding: 1rem;
}

.container .form {
  padding: 2rem;
}

.container .form h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.container .form button {
  border: none;
  background-color: #3498db;
  padding: 0.8rem;
  display: block;
  width: 100%;
  color: #fff;
  border-radius: 0.3rem;
  margin: 0.5rem 0;
  cursor: pointer;
}
.container .form button:disabled {
  cursor: not-allowed;
  background-color: #94bcd6;
}
